body {
    font-family: 'Istok Web', sans-serif;
    margin: 0;
}
h1 {
    color: #775ba3;
    font-size: 40px;
}
p {
    color: #4b3f55;
}
.hr {
    color: green;
}
.nav-item {
    padding-left: 15px;
}
.nav-item a {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.bg-purple {
    background-color: #775ba3;
}

.logo-image {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 50px;
}

.user-icon {
    color: #fff;
    font-size: 20px;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.user-icon:hover {
    color: #fff;
    transform: scale(1.2);
    transition: 300ms;
    background-color: transparent;
}

.indicator[data-bs-target] {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
}

.indicator.active[data-bs-target] {
    background-color: #fff;
}

.icon {
    margin-top: 30px;
    display: inline-block;
    height: 80px;
    width: 80px;
    border: 2px solid black;
    border-radius: 50%;
    line-height: 80px;
    font-size: 40px;
}
.main-text-section {
    text-align: center;
}
.main-text-section h1{
    padding-top: 90px;

}
.main-text-section p {
    padding-bottom: 90px;
    font-size: 23px;
    font-weight: bold;
    margin-top: 20px;
}
.text_icons {
    color: #4b3f55;
    font-size: 13px;
}
.icon-section-main {
    text-align: center;
}
.icon-section-main h1 {
    padding-top: 60px;
}
.icon-section-main p {
    margin-top: 50px;
    padding: 0 15px 0 15px;
}
.photo-section-main {
    text-align: center;
}
.photo-section-main h1 {
    padding-top: 50px;
    padding-bottom: 30px;
}
.photo-section-main h2 {
    color: #91c5a9;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 0 15px 0;
    text-transform: uppercase;
    border-bottom: 3px solid #91c5a9;
    border-top: 3px solid #91c5a9;
}
.photo-section-main p{
    padding: 15px 0 15px 0;
}
.photo {
    width: 100%;
}
.photo-main {
    padding-bottom: 60px;
}
.web_photo_main {
    width: 100%;
    min-height: 50px;

    margin: 0;
    margin-top: auto;
}
.web_photo_main i {
    font-size: 25px;
    line-height: 50px;
}
.web_photo_main div {
    width: 100%;
}
.web1 {
    background-color: #3b5998;
    text-align: center;
    color: white;
}
.web2 {
    background-color: #c4302b;
    text-align: center;
    color: white;
}
.web-google {
    background-color: #db4a39;
    color: white;
    font-weight: 50;
}
.web-twitter {
    background-color: #00acee;
    color: white;
}
footer {
    background-color: #54865d;
}
footer p {
    padding: 25px 0 25px 0;
    margin: 0;
    color: white;
    font-size: 14px;
}
.input_modal {
    margin-top: 10px;
}
.modal-footer {
    justify-content: flex-start;
}
.icon_main {
    margin-bottom: 50px;
}
.photo-item {
    display: flex;
    flex-direction: column;
}
.bold {
    font-weight: bold;
}
.asd {
    display: inline-block;
    width: 50%;
    padding: 0;
}
@media screen and (max-width: 950px) {
    .photo-item {
        margin-top: 25px;
    }
    .user-icon {
        margin-left: 13px;
    }

}
@media screen and (max-width:400px) {
    .asd {
        width: 100%;
        margin-top: 10px;
    }
    .web_photo_main div {
        width: 90%;
        margin: 0 auto;
    }
}