<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson 3</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="boxes">
            <div class="box box_1">
                <h3>Title 1</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, impedit? Sed nostrum expedita illo sunt repellat magni totam earum vitae accusamus, quod architecto doloribus laboriosam dolorem hic unde. Omnis, nobis!</p>
                <a href="">link</a>
            </div>
            <div class="box box_2">
                <h3>Title 2</h3>
                <p>Iste mollitia illum beatae amet doloribus quas, optio tempore expedita sequi repudiandae tenetur facere qui harum debitis voluptatibus. Distinctio rerum perspiciatis magni similique facere odio aperiam molestiae, maiores voluptatibus temporibus.
                    lorem200
                </p>
                <a href="">link</a>
            </div>
            <div class="box box_3">
                <h3>Title 3</h3>
                <p>Amet recusandae eaque quidem a enim quo maxime, optio exercitationem dolorem eum, laborum, doloremque aut tempore. Excepturi cum vero odio, aperiam quisquam nesciunt sed pariatur dolorum, tempora libero</p>
                <a href="">link</a>
            </div>
            <div class="box box_4">
                <h3>Title 4</h3>
                <p>Magni commodi excepturi ipsa sed officiis rerum voluptatem iusto magnam at optio esse cupiditate aliquid iure necessitatibus natus soluta quo accusantium, quasi veritatis quam. A qui ipsam temporibus inventore facere!</p>
                <a href="">link</a>
            </div>
        </div>
    </div>
</body>
</html>